<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> 
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><%= link_to "Home",    '#' %></a></li>
          <li><a href="#"><%= link_to "Help",    '#' %></a></li>
          <li><a href="#"><%= link_to "Sign in",    '#' %></a></li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>


